
<div class="example-container" *ngIf="shouldRun">
  <div class="header">
    <div class="logo">
      <button (click)="snav.toggle()" class="menu"><mat-icon>menu</mat-icon></button>
      <img src="https://cdn.discordapp.com/attachments/1149549726748921942/1154114469371334736/image.png">
    </div>
    <div class="buttons">
        <mat-icon>notifications</mat-icon>
    </div>
  </div>

  <mat-sidenav-container class="content"
                         >
    <mat-sidenav #snav [mode]="'push'" class="sidebar-content">
      <mat-nav-list class="sidebar" >
        <a href="#"><mat-icon>home</mat-icon> home</a> <br>
        <a href="#"><mat-icon>account_circle</mat-icon> my perfil</a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <p>hola</p>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
